*{
	overflow-x: hidden;
}


.blue{
	background-color: #232543;
	width: 100%;
	margin-bottom: -12px;	
}

.font{
	color: #021425;
	font-weight: 400;
	text-decoration: none !important; 
	font-size: 17px;
	font-family: 'Montserrat', sans-serif !important;
}
.img{
	width: 22px;
	height: 22px;
	margin-top: 9px;
	margin-left: 50px;
}
.img1{
	width: 22px;
	height: 22px;
	margin-top: 8px;	
}

.line{
	display: inline-flex;
}
.link{
	margin-top: 11px; 
	font-size: 15px;
	color: white !important;
	text-decoration: none;
}

.link1{
	margin-top: 11px;
	color: white !important;
	text-decoration: none;
}
.text1{
	margin-top: 9px; 
	margin-left: 10px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif !important;
}
.text{
	margin-top: 8px;
	margin-left: 5px;
	font-family: 'Montserrat', sans-serif !important;	
}
.ok{
	color: #000000 !important;
	margin-left: 50px;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif !important;
}
.set{
	margin-left: 23px !important;
}
.malta{

	color: #ff6500 !important;
}
.sahi{
	color: #021425;
	font-weight: 500;
	font-size: 17px;
}
.back-clr{
	background-color: #FAFAFA;
	height: 570px;
}
.center{
	text-align: center;
	color: #4D565F;
	font-size: 32px;
	font-weight: 600;
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif !important;
}
.claim{
	text-align: center;
	font-size: 16px;
	color: #4D565F !important;
	font-family: 'Montserrat', sans-serif !important;
	
}
.step{
	font-size: 12.992px;
	font-weight: 400;
	color: #767676 !important;
	margin: 0 0 4.8px;
	text-align: center;
	font-family: 'Montserrat', sans-serif !important;
}
.progress{
	margin-bottom: 20px;
	background-color: #D2D6DC;

	height: 21px !important;
	background-color: #D2D6DC !important;
	margin-left: 65px;
	border-radius: 20px !important;
}
.progress-bar{
	background-color: #1E7AC4 !important;
}
.rent{
	text-align: center;
	color: #021425 !important;
	font-size: 20px !important;
	font-weight: 500;

	font-family: 'Montserrat', sans-serif !important;
}
.council{
	width: 339px;height: 106px;
}
.liner{
	border: 1px solid #808080;
	padding: 7px;
	border-radius: 6px;
}
.local{
	text-align: center;
	margin-top: 10px;
	color: #021425 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	font-family: 'Montserrat', sans-serif !important;
	margin-bottom: 2px;
}
.orange{
	width:1120px; 
	background-color:#FF6500;
	height: 56px;
	margin-top:30px;
	color:white; 
	font-size: 16px;
	font-weight:500px
	font-family: 'Montserrat', sans-serif !important;
	border: none;
	border-radius: 7px;
}
.client{
	text-align: center;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 24px;
	color: #000000;
	margin-top: 40px;
}
.lined{
	border: 1px solid black;
	width: 350px; 
	padding: 22px 30px;
}
#ch{
	display: none;
}
label{
	display: inline-block;
	cursor: pointer;
}
.content{
	display: none;
}
#ch:checked ~ .content{
	display: block;
}
#ch:checked ~ label{
	display: none;
}
#ch1{
	display: none;
}
label{
	display: inline-block;
	cursor: pointer;
}
.content1{
	display: none;
}
#ch1:checked ~ .content1{
	display: block;
}
#ch1:checked ~ label{
	display: none;
}

#ch2{
	display: none;
}
label{
	display: inline-block;
	cursor: pointer;
}
.content2{
	display: none;
}
#ch2:checked ~ .content2{
	display: block;
}
#ch2:checked ~ label{
	display: none;
}
#ch{
	text-align: center;
}

.amount{
	margin-top: 10px;
	font-size: 16px;
	margin-left: 15px;
	font-size: 16px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif !important;
}
.back-color{
	background-color: #FAFAFA;
	margin-top: 50px;
}
.frequently{

	text-align: center;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 24px;
	color: #000000;
	margin-top: 40px;
}
.picture{
	width:56px; 
	border-radius: 70px ;
	height: 70px;
	margin-left: 10px;
}
.liam{
	margin-left: 12px; 
	margin-top: 15px; 
	margin-bottom: 10px;
}
.wayne{
	font-size: 20px;
	font-weight: 400;
	color: #000000;
	font-family: 'Montserrat', sans-serif !important;
	margin-top: 9px;
	margin-bottom: 0px;
}
.housing{
	font-size: 15px;
	font-weight: 400;
	color: #000000;
	font-family: 'Montserrat', sans-serif !important;
}
.accordion-item{
	background-color: #FAFAF !important;
	border: none;
}
.accordion-header{
	background-color: #FAFAFA !important ;
	border: none;
}
.accordion-button{
	background-color: transparent !important;
	box-shadow: none !important;

	font-family: 'Montserrat', sans-serif !important;
	color: #000000;
	border: none;
}
.accordion-body{
	font-family: 'Montserrat', sans-serif !important;
	color: #000000;
}
.accordion-button {
	color: #000000;             
	font-size: 18px;        
	font-weight: 600;  
	background-color: #FAFAFA;
	font-family: 'Montserrat', sans-serif !important;  
	border: none; 
}
.accordion-button:not(.collapsed) {
	color: #000000; 

}
.accordion-body {
	background-color: #f8f9fa; 
	color: #333;               
	padding: 20px;            
}
.accordion-item {
	border: none !important;
}
.experts{
	text-align: center;
	font-size: 20px;
	color: #000000;
	font-weight: 400;
	font-family: 'Arial, Helvetica, sans-serif';
	margin-top: 40px;
}
.email{

	text-align: center;
	font-family: 'Arial, Helvetica, sans-serif';
	font-size: 14px;
	color: #000000;
	font-weight: 400;
}
.medical{
	font-size: 16px;
	color: #b6f3e8;
	font-weight: 600;
	background: #232543;
	margin-left: 10px;
	/* padding: 13px; */
	text-align: center;
	width: 189px;
	height: 44px;
	padding-top: 9px;
}
.medical1{
	font-size: 16px;
	color: #b6f3e8;
	font-weight: 600;
	background: #232543;
	text-align: center;
	width: 153px;
	height: 44px;
	padding-top: 9px;
}
.medical2{
	font-size: 16px;
	color: #b6f3e8;
	font-weight: 600;
	background: #232543;
	text-align: center;
	width: 130px;
	height: 44px;
	padding-top: 9px;
}
.medical3{
	font-size: 16px;
	color: #b6f3e8;
	font-weight: 600;
	background: #232543;
	text-align: center;
	width: 199px;
	height: 44px;
	padding-top: 9px;
}
.medical4{
	font-size: 16px;
	color: #b6f3e8;
	font-weight: 600;
	background: #232543;
	text-align: center;
	width: 285px;
	height: 44px;
	padding-top: 9px;
}
.medical5{
	font-size: 16px;
	color: #b6f3e8;
	font-weight: 600;
	background: #232543;
	text-align: center;
	width: 247px;
	height: 44px;
	padding-top: 9px;
}
.don{
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	font-family: 'Arial, Helvetica, sans-serif';
}
.view{
	background: #b6f3e8;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	font-family: 'Arial, Helvetica, sans-serif';
	padding: 7px 40px;
	border: none;
	margin-top: 60px;
}
.don1{
	text-decoration: none;
	color: white;

}
.clr2{
	background-color: #0E0E1A;
	margin-top: 40px;
}
.about{
	color: #B6F3E2;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 18px;
	margin-left: 70px;
	margin-top: 30px;
	font-weight: 700;
}
.footer{
	color: white;

}

.about1{
	color: #B6F3E2;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 18px;

	margin-top: 30px;
	font-weight: 700;
}
.chambers{
	text-align: center;
	color: white;
	margin-left: 10px; 
	margin-top: 50px;
}
.policies{
	color: white;
	margin-left: 20px;
	margin-top: 50px;
}
.sitemap{
	color: white;
	margin-left: 10px;
	margin-top: 51px;
}



